body {
  background-image: url("cubes.jpg");
  background-repeat: repeat;
  background-position: right top;
  background-attachment: fixed;
}

.game
{
  background-color: white;
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

h1
{
  color: white;
  text-align: center;
}

