body
{
  background-image: url("blocks.jpg");]
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

img
{
  min-width: 100%;
  min-height: 100%;
}

h1
{
  color: black;
  text-align: center;
}

