body {
  background-image: url("cubes.jpg");
  background-repeat: repeat;
  background-position: right top;
  background-attachment: fixed;
}

.game
{
  padding: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

h1
{
  color: black;
  text-align: center;
}

